@import "tailwindcss";
@import "tw-animate-css";



@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.font-clash {
  font-family: 'ClashDisplay', var(--font-sans), sans-serif;
  font-weight: 500;
}




:root {
  --text-primary: #0a0a0a;
  --text-secondary: #0a0a0a;
  --text-inverse: #f7f8fa;

  --highlight: #30af5b;

  --bg-600: #cbd5e1;
  --bg-700: #e2e8f0;
  --bg-800: #fff;
  --bg-900: #f7f8fa;

  --backdrop: #fffc;
  --background: #fff;
  --foreground: #09090b;

  --card: #fff;
  --card-foreground: #09090b;

  --popover: #fff;
  --popover-foreground: #09090b;

  --primary: #18181b;
  --primary-foreground: #fafafa;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #f4f4f5;
  --accent-foreground: #18181b;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #09090b;
}


.dark {
  --text-primary: #f6f7ff;
  --text-secondary: #a9a9bd;
  --text-inverse: #0b0b0d;
  --highlight: #b5ff6d;
  --bg-600: #2c2c35;
  --bg-700: #191920;
  --bg-800: #111116;
  --bg-900: #0b0b0d;
  --backdrop: #0b0b0dcc;
  --background: #09090b;
  --foreground: #fafafa;
  --card: #09090b;
  --card-foreground: #fafafa;
  --popover: #09090b;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #18181b;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;
  --border: #27272a;
  --input: #27272a;
  --ring: #d4d4d8;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--backdrop);
}

::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
}

.light::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
}



::selection {
  background-color: var(--highlight);
  color: var(--text-inverse);
}

::-moz-selection {
  background-color: var(--highlight);
  color: var(--text-inverse);
}

body ::selection {
  background-color: var(--highlight);
  color: var(--text-inverse);
}




body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--bg-900);
  font-family: var(--font-sans), sans-serif;
  color: var(--text-primary);
}




/* theme effect  */
@supports (view-transition-name: root) {
  html {
    view-transition-name: root;
  }

  ::view-transition-group(root) {
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
  }

  ::view-transition-new(root) {
    z-index: 1;
  }

  ::view-transition-old(root) {
    z-index: 0;
  }

  @keyframes theme-expand {
    from {
      clip-path: circle(0 at var(--x) var(--y));
    }

    to {
      clip-path: circle(150% at var(--x) var(--y));
    }
  }

  html.dark::view-transition-new(root),
  html:not(.dark)::view-transition-new(root) {
    animation-name: theme-expand;
  }
}


/* sord effect */

.wave {
  animation: wave 4s ease-in-out infinite;
}

@keyframes wave {

  0%,
  10% {
    transform: translateX(0) rotate(0deg);
    /* توقف أول */
  }

  15% {
    transform: translateX(-6px) rotate(-8deg);
  }

  20% {
    transform: translateX(-6px) rotate(-8deg);
    /* توقف */
  }

  30% {
    transform: translateX(6px) rotate(8deg);
  }

  35% {
    transform: translateX(6px) rotate(8deg);
    /* توقف */
  }

  45% {
    transform: translateX(-4px) rotate(-4deg);
  }

  50% {
    transform: translateX(-4px) rotate(-4deg);
    /* توقف */
  }

  60% {
    transform: translateX(4px) rotate(4deg);
  }

  65% {
    transform: translateX(4px) rotate(4deg);
    /* توقف */
  }

  75% {
    transform: translateX(-2px) rotate(-2deg);
  }

  80% {
    transform: translateX(-2px) rotate(-2deg);
    /* توقف */
  }

  90% {
    transform: translateX(2px) rotate(2deg);
  }

  95% {
    transform: translateX(2px) rotate(2deg);
    /* توقف */
  }

  100% {
    transform: translateX(0) rotate(0deg);
    /* نهاية */
  }
}

.animate-slider {
  animation: slider 25s linear infinite;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}




/* custom button */
.custom-button {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--text-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1.2;
  padding: 18px 30px;
  text-decoration: none;
  border-radius: 24px;
  cursor: pointer;
  background: var(--background);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  max-width: 100%;
}

.custom-button span {
  display: inline-block;
  vertical-align: middle;
}

.custom-button span:first-child {
  position: relative;
  transition: none;
  z-index: 10;
  white-space: nowrap;
}

.custom-button span:last-child {
  color: var(--text-inverse);
  position: absolute;
  transition: transform 500ms cubic-bezier(0.48, 0, 0.12, 1), opacity 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: auto;
  line-height: 1.2;
  white-space: nowrap;
}

.custom-button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-primary);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.custom-button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.custom-button:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: transform 900ms cubic-bezier(0.48, 0, 0.12, 1), opacity 900ms cubic-bezier(0.48, 0, 0.12, 1);
}